:root {
  --white: #ffffff;
  --gray1: #edf2f6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: var(--gray1);
}

a {
  text-decoration: none !important;
}

.nav-link {
  padding: 0.5rem;
  color: var(--white);
}

[data-tooltip] {
  position: relative;
  border-bottom: 1px dotted #09C;
  cursor: pointer;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, .75);
  color: white;
  -webkit-font-smoothing: antialiased;
  padding: 5px;
  height: auto;
  border-radius: 3px;
  display: none;
  position: absolute;
  bottom: 30px;
  left: calc(100% - 75%);
  pointer-events: none;
  z-index: 99;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}

.logo {
  width: 10%;
}

@media(max-width:525px) {
  .logo {
    width: 20%;
  }
}